.header{
    padding: 20px;
    margin: 10px 30px 10px 200px;
    background-color: lightgray;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start{
    justify-content: start;
}

.container{
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
    box-sizing: border-box;
}

.link{
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #575445;
    text-decoration: none;
}

.button_prev{
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: none;
}